<%= form_tag formations_path, class:"select_forms d-flex", method: :get do %>
    <%= collection_select :sujet, :id, Theme.all.order('sujet ASC'), :id, :sujet, {include_blank: 'Thème'} %>
    <%= number_field_tag :prix,
    params[:prix],
    class: "form-control number_field",
    placeholder: "Prix max."%>
    <%= select_tag(:lieu, options_for_select([['Oui', 1], ['Non', 2], ['Peu importe', 3]]), placeholder:"Remote ?") %>
    <%= button_tag type:'submit', class:"btn-search-bar" do %>
      <span class="material-symbols-outlined">
        search
      </span>
    <% end %>
<% end %>

<% if @formations_count.nil? %>
  <h2 class="text-center font-weight-bold my-5">Toutes nos formations</h2>
<% elsif @search.nil? && !@formations_count.nil? %>
  <h2 class="text-center font-weight-bold my-5"><%= @formations_count %> résultats correspondent à votre recherche.</h2>
<% else %>
  <h2 class="text-center font-weight-bold my-5"><%= @formations_count %> résultats correspondent à votre recherche "<%= @search %>".</h2>
<% end %>


<div class="cards">
  <% @formations.each do |formation| %>
      <div class="card">
        <% if formation.photos.nil? %>
          <%= cl_image_tag formation.photos.first.key %>
        <% else %>
          <%= image_tag "https://res.cloudinary.com/de3m2ax5t/image/upload/v1654539015/business-team_BT6YG9XMB0_zka89k.jpg" %>
        <% end %>
        <div class="row card-content">
          <h5 class="font-weight-bold"><%= formation.titre %></h5>
          <div class="text-justify d-flex flex-column col-6 justify-content-around">
            <div class="duree">🕑 <%= formation.duree %></div>
            <p><%= link_to "Voir plus", formation_path(formation) %></p>

          </div>
          <div class="d-flex flex-column col-6 justify-content-around">
            <p>📪 <%= formation.lieu %></p>
            <p>💶 <%= formation.prix %> €</p>
          </div>
        </div>
      </div>
  <% end %>
</div>
<div class="d-flex justify-content-center navigation">
  <%= pagy_nav(@pagy).html_safe%>
</div>
