<div class="back my-5">
  <%= link_to "Retour à votre recherche", :back  %>
</div>

<div class="card-show">
  <% if @formation.photos.attached? %>
    <%= cl_image_tag @formation.photos.first.key %>
  <% else %>
    <%= image_tag "https://res.cloudinary.com/de3m2ax5t/image/upload/v1654539015/business-team_BT6YG9XMB0_zka89k.jpg" %>
  <% end %>
  <h2 class="text-center my-5"><%= @formation.titre %></h2>
  <% if !@formation.courtedescription.nil? %>
    <div class="c_card-show">
      <div class="d-flex align-items-center text-justify">
        <%= @formation.courtedescription %>
      </div>
      <div>
        <%= render "list" %>
      </div>
    </div>
  <% else %>
      <%= render "list" %>
  <% end %>

  <% if @formation.videos.attached? || @formation.photos.attached? %>
    <div class="c_card-show">
      <div class="mx-auto c_c-card-show-2">
        <%= render "description" %>
      </div>
      <div class="c_c-card-show-2 mx-auto d-flex flex-column justify-content-between">
        <div>
          <% if @formation.videos.attached? %>
            <% @formation.videos.each do |video| %>
              <%= cl_video_tag video.key, class:"video-formation", autoplay:"1" %>
            <% end %>
          <% end %>
        </div>
        <div>
          <% if @formation.photos.attached? %>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <% @formation.photos.each_with_index do |photo, i| %>
                  <div class="carousel-item <%= "active" if i.zero?%>">
                    <%= cl_image_tag photo.key, class:"d-block", alt:"..." %>
                  </div>
                <% end %>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div style="width:80%" class="mx-auto">
      <%= render "description" %>
    </div>
  <% end %>

<%= simple_form_for [@formation, @new_order] do |f| %>
  <%= f.input :formation, input_html: {value: @formation} %>
  <%= f.input :user, input_html: {value: current_user} %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>

  <div>
    <% if user_signed_in? %>
      <% if @formation.certifiee %>
        <div class="my-5 paiements">
          <h4 class="text-center">S'inscrire à cette formation en...</h4>
          <div class="c_paiements">
            <div class="d-flex justify-content-center">
              <div class="paiements-btn d-flex justify-content-center align-items-center">En carte bleue</div>
            </div>
            <div class="d-flex justify-content-center">
              <%= simple_form_for do |t| %>
              <% end %>
              <div class="paiements-btn d-flex justify-content-center align-items-center">Paypal</div>
            </div>
            <div class="d-flex justify-content-center">
              <div class="paiements-btn d-flex justify-content-center align-items-center"><%= link_to "Avec votre CPF", @formation.liencpf %></div>
            </div>
            <div class="d-flex justify-content-center" >
              <button type="button" class="paiements-btn d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#paiementModal">CPF & Carte bleue</button>
            </div>
          </div>
        </div>
      <% else %>
        <div class="d-flex justify-content-center">
          <div class="paiement">
            <h4 class="text-center">S'inscrire et régler</h4>
            <div class="row">
              <div class="d-flex justify-content-center col-6">
                <div class="paiements-btn">En carte bleue</div>
              </div>
              <div class="d-flex justify-content-center col-6">
                <div class="paiements-btn d-flex justify-content-center align-items-center">Paypal</div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>Inscrivez-vous.</p>
    <% end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="paiementModal" tabindex="-1" aria-labelledby="paiementModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="btn-close mx-2 my-2" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-body">
        <p>Pour utiliser votre CPF et compléter avec un autre moyen de paiement, merci de nous contacter :</p>
        <div class="text-center">
          <%= link_to "par mail", new_contacts_path %> ou par téléphone au 01.01.01.01.01</p>
        </div>
      </div>
    </div>
  </div>
</div>
