<div class="footer">
  <div class="footer-col">
    <div class="footer_col_1">
      <%= image_tag "https://res.cloudinary.com/de3m2ax5t/image/upload/v1654681400/EKPA_jep8b6.png", class:"navbar-logo" %>
      <h2>EKPA France</h2>
    </div>
    <div class="footer_col_2">Integer et vehicula enim, eleifend fermentum risus. Etiam pellentesque commodo lacus vel tincidunt. In posuere risus sapien, ac gravida ligula volutpat sit amet. </div>
  </div>
  <div class="footer-col">
    <div class="text-left">
      <h2>A propos de nous</h2>
      <ul class="list-unstyled">
        <li class="my-2"><%= link_to "Qui sommes-nous ?", about_us_path%></li>
        <li class="my-2"><%= link_to "Ils nous ont fait confiance", temoignages_path %></li>
        <li class="my-2"><%= link_to "Toutes nos formations", formations_path %></li>
        <li class="my-2"><%= link_to "Tout savoir sur le CPF", cpf_explications_path %></li>
      </ul>
    </div>
  </div>
  <div class="footer-col">
    <div class="text-left">
      <h2>Nous retrouver</h2>
      <ul class="list-unstyled">
        <li class="my-2">179 avenue des Champs Elysées, <br> 75008 Paris</li>
        <li class="my-2">01.09.08.07.06</li>
        <li class="my-2"><%= link_to "Contactez-nous", "#" %></li>
        <div class="social-media my-2 " style="width:50%">
          <ul class="list-group list-group-horizontal d-flex justify-content-around">
            <li class="list-unstyled"><a href=""><i class="fab fa-facebook"></i></a></li>
            <li class="list-unstyled"><a href=""><i class="fa-brands fa-twitter"></i></a></li>
            <li class="list-unstyled"><a href=""><i class="fa-brands fa-instagram-square"></i></a></li>
            <li class="list-unstyled"><a href=""><i class="fa-brands fa-youtube"></i></a></li>
            <li class="list-unstyled"><a href=""><i class="fab fa-linkedin"></i></a></li>

          </ul>
        </div>
      </ul>
    </div>
  </div>
</div>
